/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
/*background-color: #9e9e9e;
background-image: url(../img/dark-wood.png);*/
background-image: url(../img/tree_bark.png);
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

