<div class="container">
	<progressbar max="maxBar" value="valBar" type="primary">Current Age</progressbar>
		<div class="panel panel-primary">
			<div class="row">
			  	<div class="col-md-2">Food: {{$root.vars.food | number: 0}}</div>
			  	<div class="col-md-2">Logs: {{$root.vars.logs  | number: 0}}</div>
			  	<div class="col-md-2">Stone: {{$root.vars.stone | number: 0}}</div>
			  	<div class="col-md-2">Iron: {{$root.vars.iron | number: 0}}</div>
			  	<div class="col-md-2" popover="Adults / Students / Children / Total" popover-trigger="mouseenter"><span class="glyphicon glyphicon-user" aria-hidden="true">{{$root.vars.adultsNum}}/{{$root.vars.studentsNum}}/{{$root.vars.childrenNum}}/<b>{{$root.vars.population}}</b></span></div>
			  	<div class="col-md-2">{{datePretty}}</div>
			</div>
			<div class="row">
			  	<div class="col-md-2 col-md-offset-1">Firewood: {{$root.vars.firewood  | number: 0}}</div>
			  	<div class="col-md-2">Tools: {{$root.vars.tools | number: 0}}</div>
			  	<div class="col-md-2">Coats: {{$root.vars.coats | number: 0}}</div>
			  	<div class="col-md-2">Herbs: {{$root.vars.herbs | number: 0}}</div>
			  	<div class="col-md-2">Weather: {{$root.vars.todayWeather}}&deg C </span></div>
			</div>
			<div class="row">
				<div class="col-md-12">Build Queue: <span ng-repeat="item in queue" class="animate" ng-class="{'label label-success':$first}">&nbsp{{item.name}}</span></div>
			</div>
		</div>

		
		<div class="row">
			<div class="col-md-12">
	    		<progressbar max="buildBarMax" value="(buildBarVal * 100 / buildBarMax)" type="success" class="progress-striped active"><strong>Building Progress: {{(buildBarVal * 100 / buildBarMax) | number: 0}}%</strong></progressbar>
	    		<button class="btn btn-default" ng-click="professionsCollapsed = !professionsCollapsed">Professions</button>
	    		<button class="btn btn-default" ng-click="buildingsCollapsed = !buildingsCollapsed">Buildings</button>
	    		<button class="btn btn-default" ng-click="optionsCollapsed = !optionsCollapsed">Options</button>
               
                
	    	</div>
    	</div>
    	

    	<div class="row">
			<div class="col-md-12">
    			<div collapse="optionsCollapsed">
    				<hr>
    				Options
                  	<div class="row">
					  <div class="col-md-3">
					    <div class="input-group">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="fpsMinus()">FPS - 1</button>
					      </span>
					      <input type="text" class="form-control" placeholder="FPS: {{fps}}" disabled>
					       <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="fpsPlus()">FPS + 1</button>
					      </span>
					    </div><!-- /input-group -->
					  </div><!-- /.col-md-3 -->
					</div>
					<hr>
                </div>

                <div collapse="buildingsCollapsed">
    				<hr>
    				<div class="row">
					</div>
                  	<div class="row">
					  <div class="col-md-12">
					    <table class="table table-condensed table-bordered table-hover"> 
					      <tr class="active">
						    <td class="col-md-3">
						      <label>Building</label>
						    </td>
						    <td class="col-md-1">
						      <label>Have</label>
						    </td>
						    <td class="col-md-1">
						      <label>Logs</label>
						    </td>
						    <td class="col-md-1">
						      <label>Stone</label>
						    </td>
						    <td class="col-md-1">
						      <label>Iron</label>
						    </td>
						    <td class="col-md-1">
						      <label>Type</label>
						    </td>
						    <td class="col-md-1">
						      <label>Capacity</label>
						    </td>
						    <td class="col-md-2">
						      <label>Resources</label>
						    </td>
						  </tr>
						  <tr>
						    <td class="col-md-3">
						      House
						    </td>
						    <td class="col-md-1">
						      {{$root.buildings.house.have}}
						    </td>
						    <td class="col-md-1">
						      {{$root.buildings.house.logs}}
						    </td>
						    <td class="col-md-1">
						      {{$root.buildings.house.stone}}
						    </td>
						    <td class="col-md-1">
						      {{$root.buildings.house.iron}}
						    </td>
						    <td class="col-md-1">
						      {{$root.buildings.house.type}}
						    </td>
						    <td class="col-md-1">
						      {{$root.capacity.house}}
						    </td>
						    <td class="col-md-2">
						      	<div ng-switch="$root.buildings.house.logs<=$root.vars.logs&&$root.buildings.house.stone<=$root.vars.stone&&$root.buildings.house.iron<=$root.vars.iron">
								  <button type="button" class="btn btn-primary btn-block btn-sm" ng-switch-when="true" ng-click="build('house')"><strong>Build</strong></button>
								  <span ng-switch-when="false">
								  	<progressbar max="maxBar" value="valBar" type="primary"></progressbar>
								  </span>
								</div>
						    </td>
						  </tr>

						</table>
					  </div><!-- /.col-md-6 -->
					  
					</div>
					<hr>
                </div>

                <div collapse="professionsCollapsed">
    				<hr>
    				<div class="row">
					  <div class="col-md-12">
					  <table class="table table-condensed table-bordered table-hover"> 
					      <tr class="active">
						    <td>
						      <label>Idle workers: {{$root.jobs.unemployed}}</label>
						    </td>
						    <td>
						      <label>Total workers: {{$root.vars.adultsNum}}</label>
						    </td>
						    <td>
						      <button type="button" class="btn btn-default btn-sm" ng-click="resetJobs()">Reset Jobs</button>
						    </td>
						  </tr>
						</table>
					  </div>
					</div>
                  	<div class="row">
					  <div class="col-md-6">
					    <table class="table table-condensed table-bordered table-hover"> 
					      <tr class="active">
						    <td class="col-md-3">
						      <label>Profession</label>
						    </td>
						    <td class="col-md-3">
						      <label>Workers</label>
						    </td>
						    <td class="col-md-3">
						      <label>Infrastructure for</label>
						    </td>
						    <td class="col-md-2">
						      <label>Adjust</label>
						    </td>
						  </tr>
						  <tr>
						    <td class="col-md-3">
						      Hunter
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.hunter}}
						    </td>
						    <td class="col-md-3">
						      {{$root.jobsMax.hunterMax}}
						    </td>
						    <td class="col-md-2">
						      	<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(false, 'hunter')">
								  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								&nbsp&nbsp
								<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(true, 'hunter')">
								  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"> </span> 
								</button>
						    </td>
						  </tr>

						  <tr>
						    <td class="col-md-3">
						      Forester
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.forester}}
						    </td>
						    <td class="col-md-3">
						      {{$root.jobsMax.foresterMax}}
						    </td>
						    <td class="col-md-2">
						      	<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(false, 'forester')">
								  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								&nbsp&nbsp
								<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(true, 'forester')">
								  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"> </span> 
								</button>
						    </td>
						  </tr>

						  <tr>
						    <td class="col-md-3">
						      Stonecutter
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.stonecutter}}
						    </td>
						    <td class="col-md-3">
						      {{$root.jobsMax.stonecutterMax}}
						    </td>
						    <td class="col-md-2">
						      	<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(false, 'stonecutter')">
								  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								&nbsp&nbsp
								<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(true, 'stonecutter')">
								  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"> </span> 
								</button>
						    </td>
						  </tr>

						  <tr>
						    <td class="col-md-3">
						      Hunter
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.hunter}}
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.hunterMax}}
						    </td>
						    <td class="col-md-2">
						      	<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(false, 'hunter')">
								  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								&nbsp&nbsp
								<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(true, 'hunter')">
								  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"> </span> 
								</button>
						    </td>
						  </tr>

						</table>
					  </div><!-- /.col-md-6 -->


					  <div class="col-md-6">
					    <table class="table table-condensed table-bordered table-hover"> 
					      <tr class="active">
						    <td class="col-md-3">
						      <label>Profession</label>
						    </td>
						    <td class="col-md-3">
						      <label>Workers</label>
						    </td>
						    <td class="col-md-3">
						      <label>Infrastructure for</label>
						    </td>
						    <td class="col-md-2">
						      <label>Adjust</label>
						    </td>
						  </tr>
						  <tr>
						    <td class="col-md-3">
						      Woodcutter
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.woodcutter}}
						    </td>
						    <td class="col-md-3">
						      {{$root.jobsMax.woodcutterMax}}
						    </td>
						    <td class="col-md-2">
						      	<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(false, 'woodcutter')">
								  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								&nbsp&nbsp
								<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(true, 'woodcutter')">
								  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"> </span> 
								</button>
						    </td>
						  </tr>
						  <tr>
						    <td class="col-md-3">
						      Builder
						    </td>
						    <td class="col-md-3">
						      {{$root.jobs.builder}}
						    </td>
						    <td class="col-md-3">
						      {{$root.jobsMax.builderMax}}
						    </td>
						    <td class="col-md-2">
						      	<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(false, 'builder')">
								  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</button>
								&nbsp&nbsp
								<button type="button" class="btn btn-default btn-sm" ng-click="increaseWorkers(true, 'builder')">
								  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"> </span> 
								</button>
						    </td>
						  </tr>
						</table>
					  </div><!-- /.col-md-6 -->
					</div>
					<hr>
                </div>

            </div>
        </div>

		<div collapse="isCollapsedGather">
			<div class="row">
				<div class="col-md-12">
					<button ng-click="clearGatheringNotications()" class="btn btn-primary btn-xs btn-block" role="button">Clear Gathering Notifications</button>
				</div>
			</div>

			<p></p>

			<div class="row">
			  	<div class="col-md-6">
			  		<button ng-click="clickFood()" class="btn btn-default btn-lg btn-block" role="button">Gather Food (10% chance)</button>
			  	</div>
			  	<div class="col-md-6">
			  		<div ng-click="hideBadFood()" ng-hide="hideBadFoodVal" class="label label-danger ng-hide">Unsuccessful attempts in a row: {{foodAttempts}}</div>
			  	</div>
			  	<div class="col-md-6">
			  		<div ng-click="hideGoodFood()" ng-hide="hideGoodFoodVal" class="label label-success ng-hide">Successfully Gathered 1 food</div>
			  	</div>
			</div>

			<p></p>

			<div class="row">
			  	<div class="col-md-6">
					<a href="#" class="btn btn-default btn-lg btn-block" role="button">Wood</a>
			 	</div>
			</div>

			<p></p>

			<div class="row">
			  	<div class="col-md-6">
					<a href="#" class="btn btn-default btn-lg btn-block" role="button">Stone</a>
			 	</div>
			</div>

			<p></p>

			<div class="row">
			  	<div class="col-md-6">
					<a href="#" class="btn btn-default btn-lg btn-block" role="button">Iron</a>
			 	</div>
			</div>
		</div>

</div>