<div class="container">
	<div class="row">
	  	<div class="col-md-10 col-md-offset-1">
	  		<div class="jumbotron">
	  			<h1>Greetings, adventurer!</h1>
				<h2>You will find out how adept you are at surviving...</h2>
				<p>Be warned, starting a new game erases your current progress...</p>
				<p>Do you have what it takes?</p>
				<p><a href="#/creategame" class="btn btn-primary btn-lg btn-block" role="button"> >>>>> Start my adventure! <<<<< </a></p>
			</div>
	 	</div>
	</div>

	<p></p>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<a href="#" class="btn btn-default btn-lg btn-block" role="button">Main menu</a>
	 </div>
	</div>

	<p></p>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<a href="#/game" class="btn btn-default btn-lg btn-block" role="button">Continue previous game</a>
	 </div>
	</div>
</div>